body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: -50vh;
  margin: 0;
  background-color: black;
  overflow-y: hidden;
}

.container {
  position: relative;
  width: 500px;
  height: 755px;
  background-color: black;
  border: 0px solid black;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 50vh;
cursor: pointer;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 78px;
  display: none;
}

.duration {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  transition: width 0.9s ease;
}

.svg-container {
  position: absolute;
  bottom: 20px;
  right: 45px;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column; 
  text-align: center; 

}

.svg-container svg {
  margin-bottom: 1px; 
  fill: white;
  width: 30px;
  height: 30px;
}

.svg-container1 {
  position: absolute;
  bottom: 20px;
  right: 125px;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column; 
  text-align: center; 

}

.svg-container1 svg {
  margin-bottom: 1px; 
  fill: white;
  width: 28px;
  height: 28px;
}


.svg-container2 {
  position: absolute;
  bottom: 13px;
  right: 200px;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column; 
  text-align: center; 
}

.svg-container2 svg {
  margin-bottom: 1px; 
  fill: white;
  width: 30px;
  height: 30px;
}


.svg-container3 {
  position: absolute;
  bottom: 20px;
  right: 275px;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column; 
  text-align: center; 

}

.svg-container3 svg {
  margin-bottom: 1px; 
  fill: white;
  width: 30px;
  height: 30px;
}

.svg-container4 {
  position: absolute;
  bottom: 20px;
  right: 350px;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column; 
  text-align: center; 
}

.svg-container4 svg {
  margin-bottom: 1px; 
  fill: white;
  width: 30px;
  height: 30px;
}


.svg-container5 {
  position: absolute;
  bottom: 370px;
  right: 10px;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column; 
  text-align: center; 
}

.svg-container5 svg {
  margin-bottom: 1px; 
  fill: white;
  width: 30px;
  height: 30px;
}

.svg-container6 {
  position: absolute;
  bottom: 300px;
  right: 10px;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column; 
  text-align: center; 
}

.svg-container6 svg {
  margin-bottom: 1px; 
  fill: white;
  width: 30px;
  height: 30px;
}


.svg-container7 {
  position: absolute;
  bottom: 230px;
  right: 10px;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column; 
  text-align: center; 
}

.svg-container7 svg {
  margin-bottom: 1px; 
  fill: white;
  width: 30px;
  height: 30px;
}

.svg-container8 {
  position: absolute;
  bottom: 160px;
  right: 10px;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column; 
  text-align: center; 
}

.svg-container8 svg {
  margin-bottom: 1px; 
  fill: white;
  width: 30px;
  height: 30px;
  transform: scaleX(-1); /* Efek cermin */
}



.svg-container9 {
  position: absolute;
  bottom: 770px;
  right: 45px;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column; 
  text-align: center; 
}

.svg-container9 svg {
  margin-bottom: 1px; 
  fill: white;
  width: 20px;
  height: 20px;
}

#textOverlay {
    position: absolute;
    top: 45%;  
    left: -500%; 
    transform: translate(-50%, -50%);
font-family: "Arial", sans-serif; 
  font-weight: bold;
    font-weight: 800;
    font-size: 15px;
    white-space: nowrap;
}

#line {
    position: absolute;
    top: 80%;
    left: -500%;
    width: 90%; 
    height: 2px; 
    background-color: white; 
    transform: translate(-50%, 0%);
}

#circle {
    position: absolute;
    top: 0%; 
    left: -805%;
    width: 7px; 
    height: 7px;
    background-color: red;
    border-radius: 50%;
}


#textOverlay1 {
    position: absolute;
    top: 50%;  
    left: -980%; 
    transform: translate(-50%, -50%);
font-family: "Arial", sans-serif; 
  font-weight: bold;
    font-weight: 800;
    font-size: 15px;
    white-space: nowrap;
    opacity: 0.7;
}


#textOverlay2 {
    position: absolute;
    top: 3180%;  
    left: -1450%; 
    transform: translate(-50%, -50%);
font-family: "Arial", sans-serif; 
  font-weight: bold;
    font-weight: 700;
    font-size: 18px;
    white-space: nowrap;
}

#textOverlay3 {
    position: absolute;
    top:  3290%;  
    left: -1600%; 
    transform: translate(-50%, -50%);
font-family: "Arial", sans-serif; 
    font-weight: 400;
    font-size: 16px;
    white-space: nowrap;
}

#textOverlay4 {
    position: absolute;
    top: 3290%;  
    left: -1000%; 
    transform: translate(-50%, -50%);
font-family: "Arial", sans-serif; 
    font-weight: 650;
    font-size: 16px;
    white-space: nowrap;
}





#profilePicture {
    width: 42px; 
    height: 42px; 
    border: 2px solid white;
    border-radius: 50%; 
    overflow: hidden;
    position: absolute;
    top: 1630%; 
     left: 180%;
    transform: translate(-50%, -50%); 
}

#circularPhoto {
    width: 100%; 
    height: 100%;
    object-fit: cover;  
    border-radius: 50%; 
}

#profilePicture1 {
    width: 42px; 
    height: 42px; 
    border-radius: 50%; 
    overflow: hidden;
    position: absolute;
    top: 3380%; 
     left: 180%;
    transform: translate(-50%, -50%); 
}

#circularPhoto {
    width: 100%; 
    height: 100%;
    object-fit: cover;  
    border-radius: 50%; 
}




#textOverlay5 {
    position: absolute;
    top: 3700%;  
    left: 30%; 
    transform: translate(-50%, -50%);
font-family: "Arial", sans-serif; 
    font-weight: 650;
    font-size: 10px;
    white-space: nowrap;


}

#textOverlay6 {
    position: absolute;
    top: 3700%;  
    left: -370%; 
    transform: translate(-50%, -50%);
font-family: "Arial", sans-serif; 
    font-weight: 650;
    font-size: 10px;
    white-space: nowrap;
}

#textOverlay7 {
    position: absolute;
    top: 3700%;  
    left: -1125%; 
    transform: translate(-50%, -50%);
font-family: "Arial", sans-serif; 
    font-weight: 650;
    font-size: 10px;
    white-space: nowrap;
}

#textOverlay8 {
    position: absolute;
    top: 3700%;  
    left: -1500%; 
    transform: translate(-50%, -50%);
font-family: "Arial", sans-serif; 
    font-weight: 650;
    font-size: 10px;
    white-space: nowrap;
}

#textOverlay9 {
    position: absolute;
    top: 2070%;  
    left: 190%; 
    transform: translate(-50%, -50%);
font-family: "Arial", sans-serif; 
    font-weight: 500;
    font-size: 12px;
    white-space: nowrap;
}


#textOverlay10 {
    position: absolute;
    top: 2400%;  
    left: 190%; 
    transform: translate(-50%, -50%);
font-family: "Arial", sans-serif; 
    font-weight: 500;
    font-size: 12px;
    white-space: nowrap;
}

#textOverlay11 {
    position: absolute;
    top: 2740%;  
    left: 190%; 
    transform: translate(-50%, -50%);
font-family: "Arial", sans-serif; 
    font-weight: 500;
    font-size: 12px;
    white-space: nowrap;
}

#textOverlay12 {
    position: absolute;
    top: 3050%;  
    left: 190%; 
    transform: translate(-50%, -50%);
font-family: "Arial", sans-serif; 
    font-weight: 500;
    font-size: 12px;
    white-space: nowrap;
}

.svg-container10 {
  position: absolute;
  bottom: -710px;
  right: 350px;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column; 
  text-align: center; 
}

.svg-container10 svg {
  margin-bottom: 1px; 
  fill: white;
  width: 18px;
  height: 18px;
}

#textOverlay13 {
    position: absolute;
    top:  3425%;  
    left: -1190%; 
    transform: translate(-50%, -50%);
font-family: "Arial", sans-serif; 
    font-weight: 400;
    font-size: 14px;
    white-space: nowrap;
}


@keyframes heartBeat {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.heart-animation {
  animation: heartBeat 0.3s ease-in-out;
}

.red-heart {
 fill: red !important; 
}


@keyframes bookmarkScale {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.yellow-bookmark {
  fill: yellow !important; /* Set the fill color to yellow */
}

.bookmark-animation {
  animation: bookmarkScale 0.3s ease-in-out;
}